<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Editions</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<string>edition</string>
				<key>title</key>
				<string>The First Edition</string>
				<key>icon</key>
				<string>http://casuallama.org/wordpress/wp-content/uploads/2012/07/20120716-135328.jpg</string>
				<key>oid</key>
				<string>edition_000</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
